body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #87CEEB;
    color: white;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li button {
    background-color: #004080; /* Azul más oscuro */
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

nav ul li button:hover {
    background-color: #002a4d;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
}

.logo-section {
    text-align: center;
    margin-bottom: 20px;
}

.logo-section img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.logo-section h1 {
    margin: 10px 0;
    font-size: 36px;
}

.slogan {
    color: #555;
    font-size: 18px;
}

.register-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.register-container h2 {
    margin-bottom: 20px;
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container label {
    margin-bottom: 5px;
    text-align: left;
}

.register-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-container input[type="file"] {
    padding: 3px;
}

.register-container button {
    background-color: #004080;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-container button:hover {
    background-color: #002a4d;
}

.divider {
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.comment {
    margin: 20px 0 10px;
    color: #333;
    font-size: 14px;
}

.login-button {
    margin-top: 10px;
    background-color: #87CEEB;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #469bcf;
}

footer {
    padding: 10px 20px;
    background-color: #f0f0f0;
    text-align: center;
    color: #333;
}
