body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #87CEEB;
    color: white;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li button {
    background-color: #004080;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

nav ul li button:hover {
    background-color: #002a4d;
}

main {
    display: flex;
    
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #f0f0f0;
    height: 92.5vh;
}

.profile-section {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.profile-section .name-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-section h2 {
    margin: 10px 0;
}

.profile-section p {
    margin: 5px 0;
}

.user-info {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

.user-info p {
    margin: 5px 0;
}

footer {
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
    color: #333;
    margin-top: auto;
}


.services-section {
    flex: 1;
    padding: 20px;
    height: 80%;

}

.services-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.service-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.service-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.service-item:hover {
    background-color: #f0f0f0;
}

.service-item.selected {
    background-color: #87CEEB;
    border-color: #004080;
    color: white;
}

.service-item h3 {
    margin: 5px 0;
}

.service-item p {
    margin: 5px 0;
}

.service-providers-section{
    height: auto;
}

.service-providers-section h1 {
    text-align: center;
}

.service-providers-list {
    list-style: none;
    padding: 0;
    margin: 0;

}

.service-provider-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.service-provider-item:hover {
    background-color: #f0f0f0;
}

.service-provider-info {
    margin-left: 10px;
}

.service-provider-info h3 {
    margin: 0;
    font-size: 16px;
}

.service-provider-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.service-provider-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.providers-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 90%;
    max-height: 90%;
}

.providers-section h1 {
    text-align: center;
}

.provider-details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.scrollbar{
    overflow-y: auto;
    height: calc(100vh - 200px); /* Ajustar según la altura disponible */
}

.scrollbar-2 {
    height: 30%;
    overflow-y: auto;
}

.service-provider-container{
    max-height: 20%;
}

.service-providers-upper {
    height: 50%;
    max-height: 50%x;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.service-providers-lower {
    height: 20%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}